<div class="contacto-container" id="contacto-container">

    <!-- Sección de Contactos -->
    <div class="contact-cards-container animate__animated animate__fadeInUp">
        <!-- WhatsApp -->
        <div class="contact-card">
            <a href="https://wa.me/+5930991530112" target="_blank">
                <i class="bx bxl-whatsapp"></i>
                <h4>WhatsApp</h4>
            </a>
        </div>

        <!-- LinkedIn -->
        <div class="contact-card">
            <a href="https://www.linkedin.com/in/lenin-correa-b496b5272/" target="_blank">
                <i class="bx bxl-linkedin"></i>
                <h4>LinkedIn</h4>
            </a>
        </div>

        <!-- GitHub -->
        <div class="contact-card">
            <a href="https://github.com/x-jirox" target="_blank">
                <i class="bx bxl-github"></i>
                <h4>GitHub</h4>
            </a>
        </div>

        <!-- Facebook -->
        <div class="contact-card">
            <a href="https://www.facebook.com/lenin.correa.25" target="_blank">
                <i class="bx bxl-facebook"></i>
                <h4>Facebook</h4>
            </a>
        </div>

        <!-- Instagram -->
        <div class="contact-card">
            <a href="https://www.instagram.com/lenin.correa.25/" target="_blank">
                <i class="bx bxl-instagram"></i>
                <h4>Instagram</h4>
            </a>
        </div>
    </div>
</div>