<div class="home-container">
    <h2>Educación</h2>
    <div class="education-section">
        <div class="education-header">
            <h3>Tecnólogo en Desarrollo de Software</h3>
            <p><strong>Instituto Tecnológico del Azuay</strong></p>
            <p>Cuenca, Ecuador</p>
            <p><strong>Año de Graduación:</strong> 2023</p>
        </div>
        <div class="education-description">
            <p>
                Durante mi formación, adquirí competencias esenciales en desarrollo de software, 
                incluyendo programación en diversos lenguajes, desarrollo de aplicaciones web y móviles, 
                así como gestión de bases de datos. Participé en proyectos prácticos que me permitieron 
                aplicar mis conocimientos y trabajar en equipo, preparándome para los retos del mundo laboral.
            </p>
            <p>
                Mi enfoque profesional se centra en el aprendizaje continuo y la adaptación a nuevas 
                tecnologías, lo que me permite ofrecer soluciones innovadoras y efectivas en el desarrollo 
                de software.
            </p>
        </div>
    </div>
    <div class="achievements">
        <h4>Logros Destacados</h4>
        <ul>
            <li>Colaboré en una app móvil y web para alarma comunitaria, mejorando la respuesta ante emergencias.</li>
            <li>Colabore con el desarrollo de una aplicación web para el préstamo de libros en la biblioteca, optimizando la gestión.</li>
            <li>Participé en un proyecto de automatización de procesos administrativos, mejorando la eficiencia del sistema.</li>
        </ul>
    </div>
</div>