@import '~boxicons/css/boxicons.min.css';


.home-container {
    background: linear-gradient(45deg, #000000, #333232); /* Degradado de fondo que va de negro a gris oscuro */
    color: #dcdcdc; /* Color de texto claro para buena legibilidad */
    padding: 100px; /* Espacio interno alrededor del contenido */
    border-radius: 15px; /* Bordes redondeados para un diseño más suave */
    max-width: 7000px; /* Anchura máxima del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
    margin-left: 290px ; /* Margen izquierdo para evitar solaparse con el sidebar */
    background-size: 400% 400%; /* Hace que el gradiente se mueva */
    animation: gradient 5s ease infinite; /* Animación del gradiente de fondo */
}


@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Animación de entrada */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Hacer visible */
        transform: translateY(0); /* Volver a la posición original */
    }
}

@media (max-width: 768px) {
    .home-container {
        padding: 10px; /* Espacio interno reducido */
        margin: auto; /* Centrado automático */
    }
}
/* Media query para pantallas más pequeñas */

.education-section {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px 0; /* Margen superior e inferior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición en hover */
}


.education-section:hover {
    transform: scale(1.02); /* Efecto de zoom en hover */
}

.education-header {
    border-bottom: 2px solid #c9b77f; /* Línea inferior para separación */
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.education-header h3 {
    color: #c9b77f; /* Color de encabezado */
    margin-bottom: 5px; /* Margen debajo del encabezado */
    font-size: 1.8em; /* Tamaño del encabezado */
}

.education-header p {
    font-size: 16px; /* Tamaño de fuente */
    color: #dcdcdc; /* Color de texto claro */
    margin: 5px 0; /* Margen vertical */
}

.education-section strong {
    color: #c9b77f; /* Color para texto destacado */
}

.achievements {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px 0; /* Margen superior e inferior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición en hover */
}
.achievements:hover {
    transform: scale(1.02); /* Efecto de zoom en hover */
}

.achievements h4 {
    color: #c9b77f; /* Color del encabezado de logros */
    margin-bottom: 10px; /* Margen debajo del encabezado */
}

.achievements ul {
    list-style-type: disc; /* Tipo de lista */
    padding-left: 20px; /* Espaciado a la izquierda */
}

.achievements li {
    font-size: 16px; /* Tamaño de fuente */
    color: #dcdcdc; /* Color del texto */
    margin: 5px 0; /* Margen vertical */
}