<section id="proyectos" class="proyectos">
    <div class="container">
      <h2 class="section-title">Proyectos</h2>
      
      <div class="proyectos-grid">
        <div class="proyecto-card">
          <img src="../../assets/proyects/SummitTickets.png" alt="Proyecto Buy" class="proyecto-img">
          <div class="proyecto-info">
            <h3 class="proyecto-title">summitikets</h3>
            <p class="proyecto-description">Una aplicación de compra de boletos en línea con una experiencia de usuario fluida y moderna.</p>
            <div class="proyecto-links">
              <a href="https://github.com/x-jirox/SummitTickets" target="_blank" class="proyecto-link"><i class='bx bxl-github'></i>GitHub</a>
              <a href="https://summittickets.netlify.app/home" target="_blank" class="proyecto-link"><i class='bx bxl-google'></i>Ver Proyecto</a>
            </div>
          </div>
        </div>
  
 
        <div class="proyecto-card">
          <img src="../../assets/proyects/Portafolio.png" alt="Proyecto Buy" class="proyecto-img">
          <div class="proyecto-info">
            <h3 class="proyecto-title">Portafolio</h3>
            <p class="proyecto-description">Portafolio con informacion personal, habilidades, contacto, proyectos y cv.</p>
            <div class="proyecto-links">
              <a href="https://github.com/x-jirox/mi-portafolio" target="_blank" class="proyecto-link"><i class='bx bxl-github'></i>GitHub</a>
              <a href="https://portafolio-lenin-correa.netlify.app/" target="_blank" class="proyecto-link"><i class='bx bxl-google' ></i>Ver Proyecto</a>
            </div>
          </div>
        </div>


        <div class="proyecto-card">
          <img src="../../assets/proyects/TallerTrack.png" alt="Proyecto Buy" class="proyecto-img">
          <div class="proyecto-info">
            <h3 class="proyecto-title">TallerTrack</h3>
            <p class="proyecto-description">Gestion de autos, reparaciones , reportes, usuarios, de una mecanica.</p>
            <div class="proyecto-links">
              <a href="https://github.com/x-jirox/TallerTrack" target="_blank" class="proyecto-link"><i class='bx bxl-github'></i>GitHub</a>
            </div>
          </div>
        </div>

          
      </div>
    </div>

  </section>
  