@import '~boxicons/css/boxicons.min.css';

.header {
  z-index: 1000;
  /* Coloca el header por encima del contenido */
  position: fixed;
  width: 100%;
  /* Asegura que ocupe todo el ancho disponible */
}

.main {
  display: flex;
  align-items: center;
  /* Centra verticalmente */
  padding: 0.5px 15px;
  background: #000000be;
  margin: 0 auto;
  /* Centra el header */
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* Space between profile and menu */
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.avatar img {
  width: 100%;
  height: auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* Esto centra el header */
}

.cv {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu ul,
.cv ul {
  list-style: none;
  display: flex;
  /* Make the list horizontal */
}

.menu li,
.cv li {
  margin: 5px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  /* Color del texto */
  padding: 10px 25px;
  /* Padding en los enlaces */
  border-radius: 50px;
  /* Bordes redondeados */
  background-color: #63636347;
  /* Fondo del enlace */
  display: flex;
  /* Usar flexbox para alinear el ícono y el texto */
  align-items: center;
  /* Alinear íconos y texto verticalmente */
  font-size: 15px;
  font-weight: bold;
}

.cv a {
  text-decoration: none;
  color: #ffffff;
  /* Color del texto */
  padding: 10px 25px;
  /* Padding en los enlaces */
  border-radius: 50px;
  /* Bordes redondeados */
  background-color: #926909ac;
  /* Fondo del enlace */
  display: flex;
  /* Usar flexbox para alinear el ícono y el texto */
  align-items: center;
  /* Alinear íconos y texto verticalmente */
  font-size: 17px;
  font-weight: bold;
}

.menu a i,
.cv a i {
  margin-right: 10px;
  /* Espacio entre el ícono y el texto */
}

.cv a:hover {
  background-color: #f2a900ac;
  /* Fondo del enlace */
}

.menu a:hover {
  background-color: #f2a900ac;
  /* Darker background on hover */
}

.profile h2 {
  color: #eaeaea;
}

.menu-button {
  display: none;
  /* Ocultar por defecto */
  background-color: #6363639f;
  /* Fondo del enlace */
  color: #ffffffe0;
  border: none;
  height: 50px;
  width: 60px;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown-menu {
  position: fixed;
  display: block;
  flex-direction: column;
  /* Para que los elementos del menú estén en columna */
  top: 70px;
  /* Ajusta según la altura del header */
  right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 15px;
}

.dropdown-menu a {
  padding: 10px;
  /* Padding en los enlaces */
  display: flex;
  /* Usar flexbox para alinear el ícono y el texto */
  align-items: center;
  /* Alinear íconos y texto verticalmente */
  text-decoration: none;
  color: #ffffff;
  display: block;
  /* Para que el área clickeable sea toda la celda */
  border-radius: 50px;
  background-color: #636363de;
}

.dropdown-menu a:hover {
  background-color: #f2a900ac;
  color: azure;
}

@media (max-width: 970px) {

  .menu,
  .cv {
    display: none;
    /* Ocultar menú en pantallas pequeñas */
  }

  .menu-button {
    display: flex;
    /* Mostrar el botón en pantallas pequeñas */
  }

  .profile {
    justify-content: flex-start;
    /* Alinea el perfil a la izquierda */
    width: 100%;
    /* Asegura que ocupe el ancho completo */
  }
}

@media (min-width: 970px) {
  .menu-button {
    display: none;
    /* Ocultar el botón en pantallas grandes */
  }
}