<!-- app.component.html -->
<div class="header">
    <div class="main">
        <div class="profile">
            <div class="avatar">
                <img src="assets/img/perfil.jpeg" alt="Perfil" />
            </div>
            <h2>Lenin Correa</h2>
        </div>

        <nav class="menu" *ngIf="!isMenuOpen">
            <ul>
                <li><a routerLink="/about-me"><i class='bx bx-user'></i>Acerca de mí</a></li>
                <li><a routerLink="/skills"><i class='bx bx-cog'></i> Habilidades</a></li>
                <li><a routerLink="/projects"><i class='bx bx-spreadsheet'></i>Proyectos</a></li>
                <li><a routerLink="/contact"><i class='bx bxs-envelope'></i> Contáctame</a></li>
            </ul>
        </nav>
        <nav class="cv">
            <ul>
                <li><a href="../../assets/cv/CV LENIN CORREA.pdf" target="_blank"><i class='bx bxs-cloud-download'></i>Descargar cv</a></li>
            </ul>
        </nav>

        <button class="menu-button" (click)="toggleMenu()">
            <i class='bx' [ngClass]="{'bx-menu': !isMenuOpen, 'bx-x': isMenuOpen}"></i>
        </button>
    </div>
</div>

<nav class="dropdown-menu" *ngIf="isMenuOpen">
    <ul>
        <li><a routerLink="/about-me"><i class='bx bx-user'></i>Acerca de mí</a></li>
        <li><a routerLink="/skills"><i class='bx bx-cog'></i> Habilidades</a></li>
        <li><a routerLink="/projects"><i class='bx bx-spreadsheet'></i>Proyectos</a></li>
        <li><a routerLink="/contact"><i class='bx bxs-envelope'></i> Contáctame</a></li>
        <li><a href="../../assets/cv/CV LENIN CORREA.pdf" target="_blank"><i class='bx bxs-cloud-download'></i>Descargar cv</a></li>
    </ul>
</nav>