<div class="home-container">
    <div class="profile-section">
        <img src="assets/img/perfil.jpeg" alt="perfil" class="profile-pic">
        <h2>Lenin Correa</h2>
        <h4>Desarrollador de Software</h4>
        <p class="additional-info">
            <strong>Edad:</strong> 21 años <br>
            <strong>Residencia:</strong> Cuenca - Ecuador
        </p>
    </div>
    
    <h4 class="bio">
        Soy desarrollador front-end con experiencia en Angular, HTML, CSS y JavaScript. 
        También tengo conocimientos en back-end con Java y Python. Me enfoco 
        en crear aplicaciones web interactivas y eficientes, buscando seguir perfeccionando 
        mis habilidades en proyectos desafiantes.
    </h4>
    
    <div class="button-container">
        <a routerLink="/contact" class="contact-button"><i class='bx bxs-envelope'></i>Mi Contacto</a>
        <a href="https://www.linkedin.com/in/lenin-correa-b496b5272/" target="_blank" class="linkedin-button" ><i class='bx bxl-linkedin-square'></i>Mi LinkedIn</a>
    </div>
</div>