@import '~boxicons/css/boxicons.min.css';

/* Estilos generales */
.home-container {
    background-color: #0b0f1a;
    color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sección del perfil */
.profile-section {
    padding-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(255, 162, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    margin-left: 2rem;
    /* Espacio entre imagen y texto */
}

.profile-pic:hover {
    transform: scale(1.1);
}

.profile-text {
    text-align: left;
    margin-right: 2rem;
    /* Espacio entre texto y la imagen */
}

h1 {
    color: #f2a900;
    margin-top: 1rem;
    animation: fadeIn 1.5s ease-in-out;
}

h3 {
    color: #fff;
    margin-top: 0.5rem;
    animation: fadeIn 1.5s ease-in-out;
}

.location-info {
    color: #ccc;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    animation: fadeIn 2s ease-in-out;
}

.bio-section p {
    text-align: center;
    font-size: 1.1rem;
    color: #bbb;
    animation: fadeInUp 2s ease-in-out;
}

.bio-section i {
    margin-right: 0.5rem;
    font-size: 1.8rem;
    /* Aumentar el tamaño de los íconos */
    transition: color 0.3s ease;
}

/* Animaciones para tarjetas */
.education,
.experience {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
}

.education-card,
.experience-card {
    background-color: #ffffff0f;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

.education-card:hover,
.experience-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 162, 0, 0.5);
}

h2 {
    color: #f2a900;
    font-size: 2rem;
}

h3 {
    color: #f2a900;
}

.experience-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.education-header {
    font-size: 1.3rem;
    font-weight: bold;
}

.education-info p {
    font-size: 1rem;
    color: #bbb;
}

/* Iconos interactivos */
.bx {
    font-size: 1.5rem;
    color: #f2a900;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Colores originales para los íconos */
.bio-section .bx.bxl-angular {
    color: #E23237;
    /* Rojo de Angular */
}

.bio-section .bx.bxl-python {
    color: #306998;
    /* Azul de Python */
}

.bio-section .bx.bxl-javascript {
    color: #F7DF1E;
    /* Amarillo de JavaScript */
}

.bx:hover {
    color: #fff;
    transform: rotate(15deg);
}

.bx-bxl-angular,
.bx-bxl-javascript,
.bx-bxl-python {
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

/* Animaciones personalizadas */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}