<div class="home-container">
    <h2>Experiencia</h2>
    <div class="experience-section">
        <div class="experience-item">
            <div class="experience-content">
                <h2>Libélula</h2>
                <h5>Cuenca, Ecuador | Enero 2024 - Mayo 2024</h5>
                <p>
                    Realicé prácticas en el desarrollo de aplicaciones web, colaborando en la implementación de 
                    funcionalidades como la gestión de usuarios y la integración de APIs, contribuyendo a varios 
                    proyectos en un entorno profesional.
                </p>
            </div>
        </div>
        <div class="experience-item">
            <div class="experience-content">
                <h2>Proyectos Académicos</h2>
                <h5>Cuenca, Ecuador | Mayo 2024 - Agosto 2024</h5>
                <p>
                    Participé en diversos proyectos académicos, diseñando y desarrollando aplicaciones de gestión de datos. 
                    Me enfoqué en optimizar la interfaz de usuario y realizar pruebas de usabilidad, trabajando en equipo 
                    para cumplir con los requerimientos del curso.
                </p>
            </div>
        </div>
        <div class="experience-item">
            <div class="experience-content">
                <h2>Asistente de Desarrollo (Proyectos Académicos)</h2>
                <h5>Cuenca, Ecuador | Agosto 2024 - Octubre 2024</h5>
                <p>
                    Colaboré en el rediseño de la interfaz de una plataforma educativa, aportando ideas para mejorar la 
                    usabilidad y asegurando que el diseño fuera accesible para todos los usuarios.
                </p>
            </div>
        </div>
        <div class="experience-item">
            <div class="experience-content">
                <h2>TallerTrack</h2>
                <h5>Cuenca, Ecuador | Octubre 2024 - Noviembre 2024</h5>
                <p>
                    Desarrollé un programa en Spring llamado TallerTrack, que permite la gestión de usuarios y autos, así como 
                    la generación de órdenes de trabajo. El sistema incluye un inicio de sesión para administradores, 
                    facilitando la administración eficiente de los datos.
                </p>
            </div>
        </div>
        <div class="experience-item">
            <div class="experience-content">
                <h2>Confort Art</h2>
                <h5>Cuenca, Ecuador | Noviembre 2024 - Diciembre 2024</h5>
                <p>
                    Implementé un sistema para una mueblería llamado Confort Art, que incluye un panel de administración para 
                    gestionar categorías y productos. Además, el sistema permite la gestión de comentarios de los usuarios, 
                    mejorando la interacción con los clientes.
                </p>
            </div>
        </div>
    </div>
</div>