@import '~boxicons/css/boxicons.min.css';


.home-container {
    background: linear-gradient(45deg, rgb(32, 32, 32), rgb(68, 64, 64), rgb(108, 102, 102)); /* Gradiente elegante */ /* Gradiente RGB */
    color: #dcdcdc; /* Color de texto claro */
    padding: 100px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 70000px; /* Anchura máxima */
    text-align: center;
    margin-left: 290px; /* Asegura que el contenido no se solape con el sidebar */
    background-size: 400% 400%; /* Hace que el gradiente se mueva */
    animation: gradient-animation 5s ease infinite; /* Animación para mover el gradiente */
}

/* Animación del gradiente */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .home-container {
        padding-bottom: 630px;
        margin-bottom: 15px;
        margin-left: 0; /* Elimina el margen izquierdo para que ocupe toda la pantalla */
        padding-top: 60px; /* Ajusta el espacio superior para no solaparse con el navbar */
        height: calc(100vh - 60px); /* Hace que el home ocupe toda la pantalla, descontando la altura del navbar */
    }
}

.experience-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experience-item {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px 0; /* Margen superior e inferior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición en hover */
}
.experience-content h3 {

    color: #d0b945; /* Color de texto para títulos */
}
.experience-content p {
    margin: 5px 0;
    color: #ffffff; /* Color de texto para párrafos */
}