@import '~boxicons/css/boxicons.min.css';


.home-container {
    background: linear-gradient(45deg, #000000, #333232); /* Degradado de fondo que va de negro a gris oscuro */
    color: #dcdcdc; /* Color de texto claro para buena legibilidad */
    padding: 100px; /* Espacio interno alrededor del contenido */
    border-radius: 15px; /* Bordes redondeados para un diseño más suave */
    max-width: 7000px; /* Anchura máxima del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
    margin-left: 290px ; /* Margen izquierdo para evitar solaparse con el sidebar */
    background-size: 400% 400%; /* Hace que el gradiente se mueva */
    animation: gradient 5s ease infinite; /* Animación del gradiente de fondo */
}


/* Animación del gradiente */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .home-container {
        padding: 15px; /* Espacio interno reducido */
        margin: auto; /* Centrado automático */
    }


}

.experience-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experience-item {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px 0; /* Margen superior e inferior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición en hover */
}
.experience-content h3 {

    color: #d0b945; /* Color de texto para títulos */
}
.experience-content p {
    margin: 5px 0;
    color: #ffffff; /* Color de texto para párrafos */
}