@import '~boxicons/css/boxicons.min.css';
/* Contenedor general */
.home-container {
    background-color: #080c13;
    padding: 2rem;
    border-radius: 8px;
}

/* Sección de habilidades */
.skills-section {
    padding-top: 20px;
    margin-top: 2rem;
}

.skills-category {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.skills-category-title {
    color: #6b500f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.skills-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-card {
    background-color: #ffffff0f;
    border-radius: 100px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 162, 0, 0.5);
}

/* Íconos: Blanco por defecto, color original al pasar el ratón */
.skill-card i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
    transition: color 0.3s ease;
}

.skill-card:hover i.bxl-angular {
    color: #DD0031; /* Angular: Rojo */
}

.skill-card:hover i.bxl-html5 {
    color: #E44D26; /* HTML: Naranja */
}

.skill-card:hover i.bxl-css3 {
    color: #1572B6; /* CSS: Azul */
}

.skill-card:hover i.bxl-javascript {
    color: #F7DF1E; /* JavaScript: Amarillo */
}

.skill-card:hover i.bxl-python {
    color: #3776AB; /* Python: Azul */
}

.skill-card:hover i.bxl-java {
    color: #007396; /* Java: Azul oscuro */
}

.skill-card:hover i.bxl-react {
    color: #61DAFB; /* React: Azul claro */
}

.skill-card:hover i.bxl-nodejs {
    color: #8CC84B; /* Node.js: Verde */
}

.skill-card:hover i.bxs-database {
    color: #00758F; /* Base de datos: Azul */
}

.skill-card:hover i.bxl-git {
    color: #F05032; /* Git: Naranja */
}

.skill-card:hover i.bxl-github {
    color: #181717; /* GitHub: Negro */
}

.skill-card:hover i.bxl-docker {
    color: #2496ED; /* Docker: Azul */
}

.skill-card:hover i.bxs-wrench {
    color: #c58020; /* Postman: Gris */
}

/* Habilidades blandas */
.skill-card:hover i.bxs-group {
    color: #6C757D; /* Trabajo en equipo: Gris oscuro */
}

.skill-card:hover i.bxs-message-dots {
    color: #6C757D; /* Comunicación efectiva: Gris oscuro */
}

.skill-card:hover i.bxs-bulb {
    color: #FFD700; /* Resolución de problemas: Amarillo */
}

.skill-card:hover i.bxs-adjust {
    color: #6C757D; /* Adaptabilidad: Gris oscuro */
}

.skill-card h4 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}
