<div class="home-container">
    <div class="profile-section">
      <img src="assets/img/perfil.jpeg" alt="perfil" class="profile-pic">
      <h2>Lenin Crrea</h2>
      <h4>Desarrollador de Software</h4>
      
    </div>
    

    <h4 class="bio">
        Desarrollador front-end con experiencia en Angular, HTML, CSS y JavaScript. 
        También tengo conocimientos básicos en back-end con Java y Python. Me enfoco 
        en crear aplicaciones web interactivas y eficientes, buscando seguir perfeccionando 
        mis habilidades en proyectos desafiantes.
    </h4>
    
    <div class="button-container">
      <button class="contact-button">Mi Contacto</button>
      <button class="linkedin-button">Mi LinkedIn</button>
    </div>


  </div>

