body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #eef2f3;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: relative;
    color: #333;
    margin-left: 250px; /* Ajusta el margen izquierdo para que coincida con el ancho de la barra lateral */
    transition: margin-left 0.3s; /* Transición suave */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100px; /* Reduce el tamaño en pantallas pequeñas */
    }

    .home-container {
        margin-left: 100px; /* Ajusta el margen para pantallas pequeñas */
    }
}
  
  .profile-section {
    text-align: center;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #007bff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .job-title {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
  }
  
  .bio {
    margin: 20px 0;
    padding: 0 20px;
    font-size: 1em;
    line-height: 1.5;
    color: #444;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .contact-button, .linkedin-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .contact-button:hover,
  .linkedin-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .background-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .shape {
    position: absolute;
    opacity: 0.1; /* Más sutil */
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
    top: 20%;
    left: 10%;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ff5733;
    top: 50%;
    left: 20%;
  }
  
  .square {
    width: 80px;
    height: 80px;
    background-color: #28a745;
    top: 30%;
    right: 15%;
  }